@model librosmodel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card w-75">
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
   
            <input asp-for="id_libro" type="hidden" class="form-control">

            
             Desea eliminar el Libro : @Html.DisplayTextFor(m => m.descripcion) ?

            <br /><br />
            <button type="submit" class="btn btn-danger">Elimnar</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Cancelar</a>
        </form>
        
    </div>
</div>

